@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(18, 6, 39, 0.719); 
    border-radius: 10px;
    background-color: #0a0a29;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(5, 196, 123, 0.863); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0dedfd; 
  }

  i{
    cursor: pointer;
  }
  i:hover{
    color:#38e1ff;
  }



  .fd{
    animation: first 1s infinite;
  }
  
  @keyframes first{
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .sd{
    animation: second 1s infinite;
  }
  
  @keyframes second{
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 1;
    }
  }

  input , textarea{
    height: 40px;
    border:1px solid green;
    width: 100%;
    padding-left: 20px;
  }
  input:focus{
    outline: none;
    border:2px solid rgb(32, 32, 30);
  }
  textarea{
    height: 100px;
    width: 100%;
  }
